Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

URxvt*.font: xft:DejaVu Sans Mono for Powerline:size=9
URxvt*.scrollBar: false
URxvt*.fade: 0

xterm*faceName: DejaVu Sans Mono for Powerline
xterm*faceSize: 9
xterm*border: off
xterm*borderWidth: 0
xterm*fastScroll: true

